/*style lien navigation*/
.lien {
	color: black !important;
	font-size: 1.5rem !important;
	font-weight: 400;
}

/* bannière image */
.bgimage {
	height: 100vh;
	background: url("/image/moi.jpg");
	background-size: cover;
	position: relative;
}
/* texte de la bannière*/
.ban_title {
	font-size: 4rem;
}
.ban_ecrit {
	font-size: 2rem;
}
.ban_text {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

/* about section image css */
.imageAboutPage {
	width: 100%;
}

.imagelogo {
	margin-right: 80px;
	width: 20%;
}

/* services section css */
.servicesText.card {
	height: 250px;
	cursor: pointer;
}
.servicesIcon {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.center-text {
	text-align: center;
}
.card:hover .servicesIcon {
	color: #008000;
}
.servicesText:hover {
	border: 2px solid #008000;
}

.imagelogodev {
	align-items: center;
	width: 10%;
	display: flex;
}

.languages {
	margin-left: 10px;
}

.frameworks {
	margin-left: 45px;
}

.travail {
	margin-left: 70px;
}

.conception {
	margin-left: 200px;
}

/*display background color black on navbar scroll */
.navbarScroll.navbarDark {
	background-color: black;
}
