/*style lien navigation*/
.lien {
	color: black !important;
	font-size: 1.5rem !important;
	font-weight: 400;
}

/* bannière image */
.bgimage {
	height: 100vh;
	background: url("/image/moi.jpg");
	background-size: cover;
	position: relative;
}
/* texte de la bannière*/
.ban_title {
	font-size: 4rem;
}
.ban_ecrit {
	font-size: 2rem;
}
.ban_text {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

/* about section image css */
.imageAboutPage {
	width: 100%;
}

.imagelogo {
	margin-right: 80px;
	width: 20%;
}

/* services section css */
.servicesText.card {
	height: 280px;
	cursor: pointer;
}
.servicesIcon {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.card-title {
	text-align: center;
}
.card:hover .servicesIcon {
	color: #008000;
}
.servicesText:hover {
	border: 1px solid #008000;
}

.imagelogodev {
	margin-left: 115px;
	width: 30%;
}
