/*style lien navigation*/
.lien {
	color: black !important;
	font-size: 1.5em !important;
	z-index: 1;
	font-weight: 800;
	font-variant: small-caps;
}

/* bannière image */
.bgimage {
	height: 100vh;
	background: url("/image/moi.jpg");
	background-size: cover;
	position: relative;
}
/* texte de la bannière*/
.ban_title {
	font-size: 4rem;
}
.ban_ecrit {
	font-size: 2rem;
}
.ban_text {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

/* about section image css */
.imageAboutPage {
	width: 100%;
}
